body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  background: url(/images/blue-gradient-background.avif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: fadeIn 1s ease-out;
}

.main-content {
  max-width: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* START OF NAV */

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
  font-size: 1rem;
}

a:hover {
  color: rgb(39, 60, 164);
}

header {
  position: relative;
  padding: 0 2rem;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: slideUp 1s ease-out;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: #000;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn {
  background-color: orange;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action_btn:hover {
  scale: 1.05;
  color: #fff;
}

.action_btn:active {
  scale: 0.95;
}

.dropdown_menu {
  position: absolute;
  right: 2rem;
  top: 60px;
  width: 300px;
  height: 0;
  max-height: 180px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow-y: auto;
  transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 180px;
}

.dropdown_menu::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 992px) {
  .navbar .links,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
}

@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}

/* END OF NAV */

/* Hero Section */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: transparent;
  text-align: center;
  animation: fadeIn 1s ease-out;
}

.header-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  object-fit: contain;
}

.animated-title {
  height: 40vh;
  margin: 0;
  position: relative;
  cursor: pointer;
  display: inline-block;
  animation: slideUp 1s ease-out;
}

.scroll-down {
  font-size: 2rem;
  bottom: 0;
  color: #000000;
  margin-top: 10px;
  animation: bounce 1.5s infinite;
  text-shadow: 
    2px 2px 0 rgb(255, 255, 255),
    -2px 2px 0 rgb(255, 255, 255),
    2px -2px 0 rgb(255, 255, 255),
    -2px -2px 0 rgb(255, 255, 255);
}

@keyframes bounce {
  0%, 100% {
      transform: translateY(0);
  }
  20% {
      transform: translateY(-10px);
  }
}

/* Contact Section */
.contact-us {
  color: white;
  padding: 30px;
  text-align: center;
  background-image: url(/images/waves.svg);
  animation: fadeInUp 2s ease-out;
}

.contact-us h2 {
  font-size: 2rem;
  margin-bottom: 0px;
  min-height: 60px;
}

.contact-us p {
  font-size: 1.2rem;
}

.contact-us a {
  color: #3498db;
  text-decoration: none;
}

.contact-us a:hover {
  text-decoration: underline;
}

/* Latest Games Section */
.latest-games {
  text-align: center;
  padding: 40px;
}

.latest-games h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.games-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.game-item {
  background: rgba(103, 169, 220, 0.8);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 200px;
  text-align: center;
  transition: transform 0.3s;
}

.game-item:hover {
  transform: translateY(-5px);
}

.dark-mode .game-item {
  background: rgba(0, 0, 0, 0.8);
  color: white;
}

.game-item img {
  width: 100%;
  border-radius: 10px;
}

.game-item a {
  display: block;
  margin-top: 10px;
  padding: 8px;
  background: #5198e9;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s;
}

.game-item a:hover {
  background: #2980b9;
}

/* New Appear Animation */
@keyframes appear {
  from {
    opacity: 0;
    clip-path: inset(100% 100% 0 0);
  }
  to {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}

.description-section, .contact-us {
  animation: appear 5s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}


